fastapi
fastapi[standard]
streamlit
sentence-transformers
requests
pinecone
python-dotenv
easyocr
numpy
pdf2image
langchain
langchain-openai
langchain-pinecone
langchain-huggingface
langchain-community
langchain-text-splitters
langchain-groq
python-multipart
langgraph
pyyaml
